/*--------------------------------- CONTAINER OVERRIDES (Global) ------------------------------------*/

.content-container {
  font-size: 14px;
  line-height: 1.6em;
  min-height: 500px;
}

.content-container a, .content-container a:hover {
  text-decoration: underline;
  color: #035CA6;
}


.content-container h1, .content-container h2, .content-container h3 {
  border-bottom: 1px solid #CCC;
  padding: 0;
  margin: 1.2em 0 0.6em;
  float: none;
  text-shadow: none;
  line-height: 1.5em;
}

.content-container h1 {
  float: none;
  font-size: 28px;
  text-shadow: none;
  padding: 0;
  margin: .5em 0 0.5em;
}

.content-container h2 {
  font-size: 24px;
  margin: 1.8em 0 0.5em;
  padding: 0;
  border-bottom: 1px solid #CCC;
  letter-spacing: 0;
}

.content-container h3 {
  padding: 0;
  margin: 20px 0 10px;
  font-size: 18px;
  border-bottom: 0;
}

.content-container h4 {
  padding: 20px 0 5px 0;
  margin: 0;
}

.content-container a[href^="http"] {
  background: url(/images/external-link.png) no-repeat 100% 3px;
  padding-right: 14px;
  white-space: nowrap;
  position:relative;
}

.content-container a[href^="http"]:hover {
  background-position: 100% 100%;
}

.content-container table {
  border-collapse: collapse;
  width: 100%;
  border-bottom: 1px solid #DDD;
}

.content-container table thead {
  background: #EEE;
}

.content-container table tbody tr td:first-child {
  padding: 0 0 0 5px;
}

.content-container table tbody tr:nth-child(2n) {
  background: #f9f9f9;
}

.content-container ul li {
  margin: 10px 0;
}

.content-container .blue-box {
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 3px;
}

.content-container .grey-box {
  background: #EEE;
  padding: 5px 10px;
}

.content-container .language-switcher.selected {
  font-weight: bold !important;
  text-decoration: none;
  color: #363636;
  cursor: default;
}

.content {
  padding-bottom: 40px;
}

.content table.reference {
  font-size: small;
  width: 100%;
}

.content table.reference td {
  padding: 2px 7px;
  text-align: left;
}

.content table.reference th {
  text-align: left;
}

.content li > p {
  margin: 0px;
}

/*--------------------------------- FORMS ------------------------------------*/

:active, :focus,
input:active, input:focus {
  -moz-outline-style: none !important;
  outline: none !important;
}

input[type="text"]:focus,
textarea:focus {
  border-color: rgb(51, 163, 242);
  background: rgb(245, 251, 255);
}

input::-webkit-input-placeholder {
  color: #bbb;
  font-weight: lighter;
  font-style: italic;
}

input:-moz-placeholder {
  color: #bbb;
}

/*--------------------------------- SIDE MENU ------------------------------------*/

#sidemenu {
  width: 240px;
  float: left;
}

#sidemenu a, #sidemenu a:hover {
  text-decoration: none;
  width: 200px;
  display: block;
  font-size: 14px;
}

#sidemenu a:hover {
  background-color: #DDD;
}

#sidemenu ul li {
  margin: 0;
}

#sidemenu ul li a {
  padding: 0 0 0 16px;
}

#sidemenu a.selected {
  color: #000000;
  background-color: #DDD;
  font-weight: bold;
}

#sidemenu h4 a, #sidemenu h4 a:hover{
  font-size: 16px;
  padding: 0 0 0 5px;
  margin: 0;
}

#sidemenu h4 {
  margin: 10px 0 3px 0;
  padding: 0;
}

#sidemenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#sidemenu form {
  margin: 0 0 30px;
}
.sidemenu-box {
    margin: 10px 0 10px 0;
    /*border: 2px outset silver;*/
    /*width: 75%;*/
    font-size: 80%;
}
.sidemenu-box a {
    background: none;
    font-size: 80%;
}
.sidemenu-box a:hover {
    font-size: 80%;
    background: none;
}


/*--------------------------------- BREAD CRUMB ------------------------------------*/

ul#breadcrumbs {
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
  border: none;
}

ul#breadcrumbs li {
  margin-left: 0;
  padding-left: 2px;
  border: none;
  list-style: none;
  display: inline;
  color: #999;
}

#breadcrumbs a {
  text-decoration: none;
  color: #444;
  border-bottom: 1px dotted;
}

/*--------------------------------- TABLES ------------------------------------*/

.content table.reference {
  font-size: small;
  width: 100%;
}

.content table.reference td {
  padding: 2px 7px;
  text-align: left;
}

.content table.reference th {
  text-align: left;
  border-bottom: 1px solid #000;
}

.content table.reference_list {
  font-size: small;
  width: 100%;
}

.content table.reference_list td {
  padding: 2px 7px;
  text-align: center;
}

.content table.reference_list th {
  text-align: center;
  border-bottom: 1px solid #000;
}

.variable {
  font-style: italic;
}

.variable.project_id {
  color: red;
}

.variable.code_id, .variable.schedule_id, .variable.task_id, .variable.queue_name, .variable.cache_name {
  color: blue;
}

.variable.item_key, .variable.message_id {
  color: green;
}

/*--------------------------------- MISC ------------------------------------*/

a.next_item {
  font-size: 18px;
  font-weight: bold;
  margin: 0 60px 0 0;
}

a.tag, a.tag:hover {
  background-color: #41A3D8;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 18px 18px 18px 18px;
  color: #FFFFFF;
  font-size: 14px;
  margin: 0 2px;
  padding: 4px 10px 2px;
  text-decoration: none;
}


#q {
  border-radius: 20px;
  border: 1px solid #AAA;
  padding: 4px 0 3px 10px;
  font-weight: lighter;
  width: 180px;
  position: relative;
  display: block;
  overflow: visible;

  background: -webkit-linear-gradient(#F8F8F8, white 50%);
  background: -moz-linear-gradient(#F8F8F8, white 50%);
  background: -ms-linear-gradient(#F8F8F8, white 50%);
  background: linear-gradient(#F8F8F8, white 50%);
}

#q:focus {
  border-color: rgb(51, 163, 242);
  background: rgb(245, 251, 255);
}

a.language-switcher.selected {
  color: #000000;
  text-decoration: none;
}

.highlight {
  overflow-x: auto;
}

span.fixed-width {
  font-family: courier;
  color: green;
}
