/*--------------------------------- CONTAINER OVERRIDES (Global) ------------------------------------*/

.content-container {
  font-size: 14px;
  line-height: 1.6em;
  min-height: 500px;
}

.content-container a, .content-container a:hover {
  text-decoration: underline;
  color: #035CA6;
}


.content-container h1, .content-container h2, .content-container h3 {
  border-bottom: 1px solid #CCC;
  padding: 0;
  margin: 1.2em 0 0.6em;
  float: none;
  text-shadow: none;
  line-height: 1.5em;
}

.content-container h1 {
  float: none;
  font-size: 28px;
  text-shadow: none;
  padding: 0;
  margin: .5em 0 0.5em;
}

.content-container h2 {
  font-size: 20px;
  margin: 1.8em 0 0.5em;
  padding: 0;
  border-bottom: 1px solid #CCC;
  letter-spacing: 0;
}

.content-container h3 {
  padding: 0;
  margin: 20px 0 10px;
  font-size: 18px;
  border-bottom: 0;
}

.content-container h4 {
  padding: 15px 0 5px 0;
  margin: 0;
}

.content-container .content a[href^="http"] {
  background: url(/images/external-link.png) no-repeat 100% 3px;
  padding-right: 14px;
  white-space: nowrap;
  position:relative;
}

/*
.content-container a[href^="http"]:hover {
  background-position: 100% 100%;
}
*/

.content-container table {
  border-collapse: collapse;
  width: 100%;
  border-bottom: 1px solid #DDD;
}

.content-container table thead {
  background: #EEE;
}

.content-container table tbody tr td:first-child {
  padding: 0 0 0 5px;
}

.content-container table tbody tr:nth-child(2n) {
  background: #f9f9f9;
}

.content-container ul li {
  margin: 10px 0;
}

.content-container .blue-box {
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 3px;
}

.content-container .grey-box {
  background: #EEE;
  padding: 5px 10px;
}

.content-container .language-switcher.selected {
  font-weight: bold !important;
  text-decoration: none;
  color: #363636;
  cursor: default;
}

.content {
  padding-bottom: 40px;
}

.content table.reference {
  font-size: small;
  width: 100%;
}

.content table.reference td {
  padding: 2px 7px;
  text-align: left;
}

.content table.reference th {
  text-align: left;
}

.content li > p {
  margin: 0px;
}

/*--------------------------------- FORMS ------------------------------------*/

:active, :focus,
input:active, input:focus {
  -moz-outline-style: none !important;
  outline: none !important;
}

input[type="text"]:focus,
textarea:focus {
  border-color: rgb(51, 163, 242);
  background: rgb(245, 251, 255);
}

input::-webkit-input-placeholder {
  color: #bbb;
  font-weight: lighter;
  font-style: italic;
}

input:-moz-placeholder {
  color: #bbb;
}

/*--------------------------------- SIDE MENU ------------------------------------*/

nav.sidebar-nav,
.sidebar-content {
  position:relative;
  width: 210px;
  float: left;
  margin:11px 0 0 0;
  padding:0 0 30px;
}
.sidebar-content.pinned {
    position: fixed;
    top: 0px;
    padding-top: 0px !important;
}
.sidebar-content.stuck {
    position: absolute;
    padding-top: 0px !important;
}
#sidemenu-links {
  max-height:400px;
  min-height:400px;
}

.sidebar-content a, .sidebar-content a:hover {
  text-decoration: none;
  width: 190px;
  display: block;
  font-size: 14px;
}

.sidebar-content a:hover {
  background-color: #DDD;
}

.sidebar-content ul li {
  margin: 0;
}

.sidebar-content ul li a {
  padding: 0 0 0 16px;
}

.sidebar-content a.selected {
  color: #000000;
  background-color: #DDD;
  font-weight: bold;
}

.sidebar-content h4 a, .sidebar-content h4 a:hover{
  font-size: 16px;
  padding: 0 0 0 5px;
  margin: 0;
}

.sidebar-content h4 {
  margin: 10px 0 3px 0;
  padding: 0;
}

.sidebar-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-content form {
  margin: 0 0 10px;
}
.sidemenu-box {
    margin: 10px 0 10px 0;
    /*border: 2px outset silver;*/
    /*width: 75%;*/
    font-size: 80%;
}
.sidemenu-box a {
    background: none;
    font-size: 80%;
}
.sidemenu-box a:hover {
    font-size: 80%;
    background: none;
}


/*--------------------------------- BREAD CRUMB ------------------------------------*/

ul#breadcrumbs {
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
  border: none;
}

ul#breadcrumbs li {
  margin-left: 0;
  padding-left: 2px;
  border: none;
  list-style: none;
  display: inline;
  color: #999;
}

#breadcrumbs a {
  text-decoration: none;
  color: #444;
  border-bottom: 1px dotted;
}

/*--------------------------------- TABLES ------------------------------------*/

.content table.reference {
  font-size: small;
  width: 100%;
}

.content table.reference td {
  padding: 2px 7px;
  text-align: left;
}

.content table.reference th {
  text-align: left;
  border-bottom: 1px solid #000;
}

.content table.reference_list {
  font-size: small;
  width: 100%;
}

.content table.reference_list td {
  padding: 2px 7px;
  text-align: center;
}

.content table.reference_list th {
  text-align: center;
  border-bottom: 1px solid #000;
}

.variable {
  font-style: italic;
}

.variable.project_id {
  color: red;
}

.variable.code_id, .variable.schedule_id, .variable.task_id, .variable.queue_name, .variable.cache_name {
  color: blue;
}

.variable.item_key, .variable.message_id {
  color: green;
}

/*--------------------------------- MISC ------------------------------------*/

a.next_item {
  font-size: 18px;
  font-weight: bold;
  margin: 0 60px 0 0;
}

a.tag, a.tag:hover {
  background-color: #41A3D8;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 18px 18px 18px 18px;
  color: #FFFFFF;
  font-size: 14px;
  margin: 0 2px;
  padding: 4px 10px 2px;
  text-decoration: none;
}


#q {
  border-radius: 20px;
  border: 1px solid #AAA;
  padding: 4px 0 3px 10px;
  font-weight: lighter;
  width: 180px;
  position: relative;
  display: block;
  overflow: visible;

  background: -webkit-linear-gradient(#F8F8F8, white 50%);
  background: -moz-linear-gradient(#F8F8F8, white 50%);
  background: -ms-linear-gradient(#F8F8F8, white 50%);
  background: linear-gradient(#F8F8F8, white 50%);
}

#q:focus {
  border-color: rgb(51, 163, 242);
  background: rgb(245, 251, 255);
}

a.language-switcher.selected {
  color: #000000;
  text-decoration: none;
}

.highlight {
  overflow-x: auto;
}

span.fixed-width {
  font-family: courier;
  color: green;
}

/*
 * Modified alert boxes from Bootstrap
 */

.alert {
  padding: 4px 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #022CB4;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  border: 2px dashed #022CB4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert-heading {
  color: inherit;
}

.alert-success {
  color: #468847;
  border-color: #468847;
}

.alert-subtle {
  color: black;
  border-color: black;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  border-color: #b94a48;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 10px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}

.product-box {
  float: left;
  text-align: left;
  width: 220px;
  margin:20px 20px 0 0;
}

.product-box img {
	height:30px;
	display:block;
	text-align:left;
}

.product-box.last {
  margin-right: 0px;
}

.product-box p {
  display:block;
}

.product-box a {
  text-decoration: none;
}

.product-box a:hover {
  text-decoration: none;
}

.subtitle {
  font-size: 18px;
}

/*
 * CSS Arrows
 */

a span.arrow-link {
    position:relative;
    font-size: 16px;
    display:inline-block;
    margin:0 6px 0 0;
    color: #363636;
    display:inline-block;
}
a span.arrow-link:hover {
    color:#000000;
    margin:0 15px 0 0;
}
a span.arrow-link > span.arrow {
    position:relative;
    display: inline-block;
    font-size: 30px;
    margin: -3px 0 0 0;
    vertical-align: middle;
}
.arrow.red {
    background:url(/images/btn/red-sprite.png) top repeat-x;
    color:#ffffff;
    text-shadow:-1px -1px #6f001d;
}
.arrow.red .point {
    position:absolute;
    right:0;
    top:0;
    z-index:99;
    background:url(/images/btn/red-sprite.png) bottom right no-repeat;
    width:19px;
    height:34px;
}
.arrow.gray {
    background:url(/images/btn/gray-sprite.png) top repeat-x;
    color:#ffffff;
    text-shadow:-1px -1px #6f001d;
}
.arrow.gray .point {
    position:absolute;
    right:0;
    top:0;
    z-index:99;
    background:url(/images/btn/gray-sprite.png) bottom right no-repeat;
    width:19px;
    height:34px;
}

#github-block {
    display:block;
    margin:20px 0;
    width:200px;
}

#github-block img,
#github-block img:hover {
    display:block !important;
    text-align:center !important;
    width:50px !important;
    margin: 0 auto !important;
}
#github-block a.git:hover {
    background:transparent;
}

#github-block p {
    color:#929292;
    font-style:italic;
    margin:3px 0 0;
    padding:0 10px;
    line-height:14px;
    font-size:12px;
    display: block;
    text-align: center;
}

#github-block p a {
    font-size: 12px;
    display:inline;
}

#github-block p a:hover {
    background-color: transparent;
    font-size:12px;
    display:inline;
}


.article-list p {
    margin: 0px;
    padding:10px 10px 0;
}
.article-list a,
.article-list a:hover {
    color:#363636;
    text-decoration:none;
}
.article-block {
    width: 340px;
    margin: 0px 10px 20px 0px;
    display: inline-block;
    border: 1px solid #AAAAAA;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    vertical-align: top;
    height: 150px;
    position:relative;
}
.article-block:hover {
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
}
.article-block.right {
    margin:0 0 20px 0;
}
.article-block .featured-ribbon {
    position:absolute;
    width:108px;
    height:63px;
    top:-2px;
    right:-2px;
    background:url(/images/articles/featured-ribbon.png) no-repeat;
}
.article-block h3 {
    font-weight: normal;
    background:#efefef;
    padding:10px 0 10px 10px;
    border-bottom:1px solid #AAAAAA;
    margin:0 0 5px;
    font-size:16px;
    font-weight:bold;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-top-left: 10px;
    -moz-border-radius-top-right: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.article-block a {
    text-decoration:none;
    color:#363636;
}
.article-block h3 a,
.article-block h3 a:hover {
    text-decoration:none;
    color:#363636;
}


.article-list br {
    clear: both;
}

.featured img {
    margin: 0px auto;
    display: block;
}

a.grid-box {
    width: 340px;
    margin: 0px 10px 20px 0px;
    display:inline-block;
    border: 1px solid #AAA;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    vertical-align:top;
    height:150px;
}
a.grid-box:hover {
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
}
a.grid-box,
a.grid-box:hover {
    text-decoration:none;
    color:#363636;
}
a.grid-box.second {
    margin:0 0 10px;
}
a.grid-box .img-bg {
    display:inline-block;
    border-right: 1px solid #AAA;
    background:#000000;
    padding:0;
    margin:0;
    width:80px;
    height:150px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-top-left: 10px;
    -moz-border-radius-bottom-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
a.grid-box .img-bg.api-bg {
    background:url(/images/worker/reference/api_screenshot.jpg) no-repeat;
}
a.grid-box .img-bg.environment-bg {
    background:url(/images/worker/reference/environment_screenshot.jpg) no-repeat;
}
a.grid-box .img-bg.security-bg {
    background:url(/images/worker/reference/api_screenshot.jpg) no-repeat;
}
a.grid-box .img-bg.configuration-bg {
    background:url(/images/worker/reference/configuration_screenshot.jpg) no-repeat;
}
a.grid-box span.grid-box-text {
    display:inline-block;
    padding: 10px 0 0 20px;
    width:223px;
    vertical-align:top;
}
a.grid-box span.grid-box-text h3 {
    margin:0 0 10px;
}
