/*--------------------------------- CONTAINER OVERRIDES (Global) ------------------------------------*/

.content-container {
  font-size: 14px;
  line-height: 1.6em;
}

.content-container a, .content-container a:hover {
  text-decoration: underline;
  color: #035CA6;
}

.content-container {
  min-height: 500px;
}

.content-container h1, .content-container h2, .content-container h3 {
  border-bottom: 1px solid #CCC;
  padding: 0;
  letter-spacing: -1px;
  margin: 1.2em 0 0.6em;
  float: none;
  text-shadow: none;
  line-height: 1.5em;
}

.content-container h1 {
  margin: 1em 0 0.6em;
  font-size: 28px;
}

.content-container h2 {
  font-size: 24px;
}

.content-container h3 {
  font-size: 18px;
}


/*--------------------------------- FORMS ------------------------------------*/

:active, :focus,
input:active, input:focus {
  -moz-outline-style: none !important;
  outline: none !important;
}

input[type="text"]:focus,
textarea:focus {
  border-color: rgb(51, 163, 242);
  background: rgb(245, 251, 255);
}

input::-webkit-input-placeholder {
  color: #bbb;
  font-weight: lighter;
  font-style: italic;
}

input:-moz-placeholder {
  color: #bbb;
}

/*--------------------------------- SIDE MENU ------------------------------------*/

#sidemenu {
  width: 240px;
  float: left;
}

#sidemenu a, #sidemenu a:hover {
  text-decoration: none;
}

#sidemenu ul {
  list-style-type: none;
  padding: 0 0 0 12px;
  margin: 0;
}

#sidemenu ul li a {
  font-size: 14px;
}

#sidemenu h4 {
  padding: 20px 0 5px 0;
  margin: 0;
}

/*--------------------------------- BREAD CRUMB ------------------------------------*/

ul#breadcrumbs {
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
  border: none;
}

ul#breadcrumbs li {
  margin-left: 0;
  padding-left: 2px;
  border: none;
  list-style: none;
  display: inline;
  color: #999;
}

#breadcrumbs a {
  text-decoration: none;
  color: #444;
  border-bottom: 1px dotted;
}

/*--------------------------------- SIDE MENU ------------------------------------*/

#sidemenu h4 {
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 5px;
  font-size: 16px;
}

#sidemenu ul {
  margin: 0 0 10px 17px;
  padding: 0;
}

#sidemenu ul li {
  display: block;
  font-size: 14px;
}

#sidemenu ul li a {
  font-size: 14px;
  display: inline-block;
}

#sidemenu form {
  margin: 0 0 40px;
}

#sidemenu a.selected {
  color: #000000;
  background-color: #FCFBC0;
  font-weight: bold;
}

/*--------------------------------- MISC ------------------------------------*/

a.next_item {
  font-size: 18px;
  font-weight: bold;
  float: right;
  margin: 0 60px 0 0;
}

a.tag {
  background-color: #41A3D8;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 18px 18px 18px 18px;
  color: #FFFFFF;
  font-size: 14px;
  margin: 0 2px;
  padding: 4px 10px 2px;
  text-decoration: none;
}

#q {
  border-radius: 20px;
  border: 1px solid #AAA;
  padding: 4px 0 3px 10px;
  font-weight: lighter;
  width: 180px;
  position: relative;
  display: block;
  overflow: visible;

  background: -webkit-linear-gradient(#F8F8F8, white 50%);
  background: -moz-linear-gradient(#F8F8F8, white 50%);
  background: -ms-linear-gradient(#F8F8F8, white 50%);
  background: linear-gradient(#F8F8F8, white 50%);
}

#q:focus {
  border-color: rgb(51, 163, 242);
  background: rgb(245, 251, 255);
}

a.language-switcher.selected {
  color: #000000;
  text-decoration: none;
}