---
title: IronWorker Articles
layout: default
section: worker
breadcrumbs:
- ['Articles', '/articles']
categories:
  - articles
---

<h1>{{ page.title }}</h1>
<p class="subtitle">These articles are quick tutorials and explanations of the various parts of IronWorker. Written by our team and experts from our community, these articles will help you squeeze every last ounce of power out of IronWorker.</p>

<div class="article-list">
  {% for post in site.categories.articles %}
    {% if post.categories contains "worker" %}
      {% if post.tags contains "featured" %}
        <a href="{{ site.baseurl }}{{ post.permalink }}" title="{{ post.title }}">
        	<div class="article-block {% cycle 'left', 'right' %}">
        		<div class="featured-ribbon"></div>
	          <h3>{{ post.title }}</h3>
	          {{ post.summary | markdownify }}
        	</div>{% cycle '', '<br />' %}
        </a>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% for post in site.categories.articles %}
    {% if post.categories contains "worker" %}
      {% unless post.tags contains "featured" %}
        <a href="{{ site.baseurl }}{{ post.permalink }}"  title="{{ post.title }}">
        	<div class="article-block {% cycle 'left', 'right' %}">
		      <h3>{{ post.title }}</h3>
		      {{ post.summary | markdownify }}
        	</div>{% cycle '', '<br />' %}
        </a>
      {% endunless %}
    {% endif %}
  {% endfor %}
</div>
