---
title: IronMQ On-Premise Overview
summary: "Connect your applications and processes with an elastic message queue. Decouple your processes and create a highly scalable system by passing messages."
layout: default
section: mq-onpremise
---
<p class="subtitle">
  IronMQ On-Premise is a fully featured high-performance messaging solution that can be more easily deployed in high availability configurations across clouds.
</p>

<h2>Getting Started</h2>
<ul>
    <li><a href="/mq-onpremise/getting_started/#requirements">Recommended System Requirements</a></li>
    <li><a href="/mq-onpremise/getting_started/#download">Download</a></li>
    <li><a href="/mq-onpremise/getting_started/#install">Install</a></li>
</ul>

<h2>Reference</h2>
<ul>
    <li><a {% if page.url == "/mq-onpremise/reference/api/index.html" %}class="selected"{% endif %} href="/mq-onpremise/reference/api">REST/HTTP API</a></li>
    <li><a {% if page.url == "/mq-onpremise/libraries/index.html" %}class="selected" {% endif %} href="/mq-onpremise/reference/client_libraries">Client Libraries</a></li>
</ul>

<h2>Integrations</h2>
<ul>
    <li><a {% if page.url == "/mq-onpremise/integrations/sqs/index.html" %}class="selected"{% endif %} href="/mq-onpremise/integrations/amazon_sqs">Amazon SQS Protocol</a></li>
</ul>

<!-- <h4>Deployment Configurations</h4>
<ul>
    <li><a {% if page.url == "/mq-onpremise/configurations/overview/index.html" %}class="selected"{% endif %} href="/mq-onpremise/integrations/celery">Overview</a></li>
    <li><a {% if page.url == "/mq-onpremise/configurationsmq-onpremiseise/index.html" %}class="selected"{% endif %} href="/mq-onpremise/integrations/celery">On-Premise</a></li>
    <li><a {% if page.url == "/mq-onpremise/configurations/virtual_private_cloud/index.html" %}class="selected"{% endif %} href="/mq-onpremise/integrations/celery">Virtual Private Cloud</a></li>
    <li><a {% if page.url == "/mq-onpremise/configurations/hybrid_cloud/index.html" %}class="selected"{% endif %} href="/mq-onpremise/integrations/celery">Hybrid Cloud</a></li>
</ul> -->
