{% unless page.breadcrumbs == "hidden" %}
<ul id="breadcrumbs">
        {% capture numcrumbs %}{{ page.breadcrumbs | size }}{% endcapture %}
        <li><a href="/" {% unless page.section %}{% unless page.breadcrumbs %}class="selected"{% endunless %}{% endunless %}title="Home">Home</a>
        {% if page.section %} » </li>
                {% if page.section == "mq" %}
                        <li><a {% if page.url == "/mq/index.html" %}class="selected"{% endif %} href="/mq" title="IronMQ">IronMQ</a>
                        {% unless numcrumbs == "0" %} » {% endunless %}
                        </li>
                {% else %}
                        {% if page.section == "worker" %}
                                <li><a {% if page.url == "/worker/index.html" %}class="selected"{% endif %} href="/worker" title="IronWorker">IronWorker</a>
                                {% unless numcrumbs == "0" %} » {% endunless %}
                                </li>
                        {% else %}
                                {% if page.section == "cache" %}
                                        <li><a {% if page.url == "/cache/index.html" %}class="selected"{% endif %} href="/cache" title="IronCache">IronCache</a>
                                        {% unless numcrumbs == "0" %} » {% endunless %}
                                        </li>
                                {% else %}
                                        {% if page.section == "solutions" %}
                                        <li><a {% if page.url == "/solutions/index.html" %}class="selected"{% endif %} href="/solutions" title="Solutions">Solutions</a>
                                        {% unless numcrumbs == "0" %} » {% endunless %}
                                        </li>
                                        {% endif %}
                                {% endif %}
                        {% endif %}
                {% endif %}
                {% else %}{% unless numcrumbs == "0" %} » {% endunless %}</li>
        {% endif %}
  {% for crumb in page.breadcrumbs %}{% assign max = forloop.index %}{% capture url %}{% for crumb2 in page.breadcrumbs %}{% if forloop.index0 < max %}{{ crumb2 | last }}{% endif %}{% endfor %}{% endcapture %}{% capture title %}{{ crumb | first }}{% endcapture %}
  <li><a href="{% if page.section %}/{{ page.section }}{% endif %}{{ url }}" {% if forloop.last %}class="selected" {% endif %}title="{{ title }}">{{ title }}</a>{% if forloop.last == false %} » {% endif %}</li>
  {% endfor %}
</ul>{% endunless %}
