<!-- footer-box -->
<div class="footer-box">
  <div class="holder">
    <div class="content">

      <div id="gears">
        <div class="gear-small">
          <object data="http://www.iron.io/assets/gear-small.svg" type="image/svg+xml" width="50"></object>
        </div>
        <div class="gear-big">
          <object data="http://www.iron.io/assets/gear-big.svg" type="image/svg+xml" width="88"></object>
        </div>
      </div>

      <div class="box-holder">
        <div class="box" style="width: 100px;">
          <hgroup>
            <h3>Learn</h3>
          </hgroup>
          <ul>
            <li><a href="http://www.iron.io/products">Products</a></li>
            <!-- <li><a href="/customers">Customers</a></li> -->
            <!-- <li><a href="http://dev.iron.io/solutions">Solutions</a></li> -->
            <li><a href="http://www.iron.io/about">About Us</a></li>
            <li><a href="http://www.iron.io/legal">Legal</a></li>
            <li><a href="mailto:support@iron.io?subject=Iron.io%20Dev%20Center%20Question&amp;body=(please%20select%20those%20that%20apply%20to%20you)%0AI%20am%20asking%20a%20question%20about%20Ironlive%2FIronWorker%2FIronCache%20%0ALanguage%3A%0AQuestion%3A%0ALinks%3A" target="_blank">Email Support</a></li>
          </ul>
        </div>
        <div class="box" style="width: 100px;">
          <hgroup>
            <h3>Develop</h3>
          </hgroup>
          <ul>
            <li><a href="http://dev.iron.io/" target="_blank">Dev Center</a></li>
            <li><a href="https://github.com/iron-io" target="_blank">Iron.io on GitHub</a></li>
            <li>
              <a href="https://github.com/iron-io/dockerworker" target="_blank">Worker Examples on GitHub</a>
            </li>
          </ul>
        </div>
        <div class="box" style="width: 80px;">
          <hgroup>
            <h3>Follow</h3>
          </hgroup>
          <ul>
            <li><a href="http://twitter.com/getiron" target="_blank">Twitter</a></li>
            <li><a href="http://blog.iron.io" target="_blank">Blog</a></li>
            <li>
              <!-- This link needs to stay as is so Google can read it -->
              <a rel="publisher" href="https://plus.google.com/107979826672004784735" target="_blank">Google+</a><br />
              <!-- Place this tag where you want the +1 button to render -->
              <g:plusone size="small"></g:plusone>

              <!-- Place this render call where appropriate -->
              <script type="text/javascript">
              (function () {
                var po = document.createElement('script');
                po.type = 'text/javascript';
                po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(po, s);
              })();
              </script>
            </li>
          </ul>
        </div>
        <div class="box" style="width:280px;">
          <hgroup><h3>Subscribe To Our Digest</h3></hgroup>
          <form id="newsletter-subscribe" action="http://iron.us2.list-manage.com/subscribe/post" method="post">
            <input type="hidden" name="u" value="7857be6b22d01ed8ef657f72a">
            <input type="hidden" name="id" value="adc3a1ddc3">
            <table cellpadding="2" cellspacing="0" border="0" align="center">

              <tr>
                <td align="right" class="formLabel">Email Address:</td>
                <td align="left">
                  <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">
                  <br><span class="error"></span></td>
                </tr>

                <tr>
                  <td align="right" class="formLabel">First Name:</td>
                  <td align="left">
                    <input type="text" name="MERGE1" id="MERGE1" size="25" value="">
                    <br><span class="error"></span></td>
                  </tr>

                  <tr>
                    <td align="right" class="formLabel">Last Name:</td>
                    <td align="left">
                      <input type="text" name="MERGE2" id="MERGE2" size="25" value="">
                      <br><span class="error"></span></td>
                    </tr>




                    <tr valign="top" id="merge-interests-100-2165" style="display:none;">

                      <td align="right" class="formLabel">
                        Platform
                      </td>
                      <td align="left">
                        <ul class="interestgroup_field" id="interestgroup_field_399061"><li class="interestgroup_row"><input type="checkbox" id="group_1" name="group[2165][1]" value="1">&nbsp;<label for="group_1">Direct</label></li><li class="interestgroup_row"><input type="checkbox" id="group_2" name="group[2165][2]" value="1">&nbsp;<label for="group_2">Heroku</label></li><li class="interestgroup_row"><input type="checkbox" id="group_4" name="group[2165][4]" value="1">&nbsp;<label for="group_4">EngineYard</label></li></ul>
                      </td>
                    </tr>




                    <tr>
                      <td align="right">&nbsp;</td>
                      <td align="left">
                  <!--
                  IF you want this to work with our Facebook app, your submit button *must* start with this:
                      <input type="submit"
                  and end with a >. You can have whatever else you'd like in the rest of the tag, and we'll maintain any custom "value" you set.
                -->
                <input type="submit" value="Subscribe">
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
<p>&copy; 2011-2016 <a href="/">Iron.io</a>. All Rights Reserved. (000 seconds)</p>
</div>
<!-- footer-holder -->
<!-- <div class="footer-holder"> -->

<!-- </div> -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-25464880-3']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
