<!-- footer-box -->
<div class="footer-box">
  <div class="holder">
    <div class="content">

      <div id="gears">
        <div class="gear-small">
          <object data="/assets/gear-small.svg" type="image/svg+xml" width="50"></object>
        </div>
        <div class="gear-big">
          <object data="/assets/gear-big.svg" type="image/svg+xml" width="88"></object>
        </div>
      </div>

      <div class="box-holder">
        <div class="box">
          <hgroup>
            <h3>Learn</h3>
          </hgroup>
          <ul>
            <li><a href="http://www.iron.io/products">Products</a></li>
            <li><a href="http://www.iron.io/customers">Customers</a></li>
            <li><a href="http://www.iron.io/about">About Us</a></li>
            <li><a href="http://www.iron.io/legal">Legal</a></li>
          </ul>
        </div>
        <div class="box">
          <hgroup>
            <h3>Develop</h3>
          </hgroup>
          <ul>
            <li><a href="http://docs.iron.io/" target="_blank">Documentation</a></li>
            <li><a href="https://github.com/iron-io" target="_blank">Iron.io on GitHub</a></li>
            <li>
              <a href="https://github.com/iron-io/iron_worker_examples" target="_blank">Worker Examples on GitHub</a>
            </li>
            <li><a href="http://www.iron.io/products/worker/videos">Video Tutorials</a></li>
          </ul>
        </div>
        <div class="box">
          <hgroup>
            <h3>Manage</h3>
          </hgroup>
          <ul>
            <li><a href="http://hud.iron.io/">Login</a></li>
            <li><a href="http://support.iron.io/" target="_blank">Support</a></li>
          </ul>
        </div>
        <div class="box">
          <hgroup>
            <h3>Follow</h3>
          </hgroup>
          <ul>
            <li><a href="http://twitter.com/getiron" target="_blank">Twitter</a></li>
            <li><a href="http://blog.iron.io" target="_blank">Blog</a></li>
            <li>
              <a rel="publisher" href="https://plus.google.com/107979826672004784735" target="_blank">Google+</a><br />
              <!-- Place this tag where you want the +1 button to render -->
              <g:plusone size="small"></g:plusone>

              <!-- Place this render call where appropriate -->
              <script type="text/javascript">
                (function () {
                  var po = document.createElement('script');
                  po.type = 'text/javascript';
                  po.async = true;
                  po.src = 'https://apis.google.com/js/plusone.js';
                  var s = document.getElementsByTagName('script')[0];
                  s.parentNode.insertBefore(po, s);
                })();
              </script>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer-holder -->
<div class="footer-holder">
  <p>&copy;2012 <a href="http://www.iron.io/">Iron.io</a>. All Rights Reserved. (000 seconds)</p>
</div>