<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} | {% endif %}Iron.io Dev Center</title>
<meta name="description" content="" />

<link href="http://www.iron.io/assets/application-54c71c4a9cbcae35420225f40a704762.css" media="screen" rel="stylesheet" type="text/css" />
<link href="http://www.iron.io/assets/fonts/stylesheet.css" media="screen" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/css/global.css" />
<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css" />
<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/css/jquery-ui.css" />

<script src="https://www.google.com/jsapi?key=ABQIAAAAhes0f80sBcwL-h5xCNkkgxTs5Gr0DWOUG974XQ8PuEqOljLYwRTQYGFgQvKvZgAbxrinP5i8V-N8hw" type="text/javascript"></script>

<script language="javascript" type="text/javascript">
  google.load("jquery", "1");
  google.load("jqueryui", "1");
  google.load("feeds", "1");
</script>

<script src="http://www.iron.io/assets/application-8aaa4f4abc5ac36c25512d37a0d5add9.js" type="text/javascript"></script>
<!--[if lt IE 9]>
  <script src="http://www.iron.io/assets/html5shiv-d095c2f2abab5314e1647fd569a21eb4.js" type="text/javascript"></script>
  <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/css/ie-fix.css" />
<![endif]-->