<!-- <ul class="nav pull-right">
    <li id="fat-menu" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Languages <b class="caret"></b></a>
        <ul class="dropdown-menu">
            {% for lang in page.languages %}
                <li><a href="?lang={{ lang.slug }}">{{ lang.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>
<div class="clear"></div> -->

<div class="dropdown pull-right">
    <a class="btn orange dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#">Languages <b class="caret"></b></a>
        <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop5">
            {% for lang in page.languages %}
                <li><a tabindex="-1" href="?lang={{ lang.slug }}">{{ lang.name }}</a></li>
            {% endfor %}
        </ul>
</div>