<strong class="logo"><a href="http://www.iron.io/">Iron.io</a></strong>
<nav id="nav">
  <ul>
    <li class=""><a href="http://www.iron.io/products">Products</a></li>
    <li class=""><a href="http://www.iron.io/customers">Customers</a></li>
    <li class="active"><a href="http://dev.iron.io">Dev Center</a></li>
    <li class=""><a href="http://blog.iron.io">Blog</a></li>
    <li class=""><a href="http://hud.iron.io">Login</a></li>
    <!--<li class="signup"><a href="https://hud.iron.io/users/new">Sign Up</a></li>-->
    <li class=""><a href="http://get.iron.io/chat" target="_blank" style="padding-right:3px;">Live Chat</a>
      <a href="http://get.iron.io/chat" target="_blank" style="padding: 0; margin: 0;"><img src="/images/chat-bubble.png" style="height: 20px; vertical-align: middle; "/></a>
    </li>
  </ul>
</nav>
