<strong class="logo"><a href="http://www.iron.io/">Iron.io</a></strong>
<nav id="nav">
  <ul>
    <li class=""><a href="http://www.iron.io/products">Products</a></li>
    <li class=""><a href="http://www.iron.io/customers">Customers</a></li>
    <li class=""><a href="http://www.iron.io/about">About Us</a></li>
    <li class="active"><a href="http://dev.iron.io">Dev Center</a></li>
    <li class=""><a href="http://support.iron.io">Help</a></li>
    <li class=""><a href="http://blog.iron.io">Blog</a></li>
    <li class=""><a href="http://hud.iron.io">Login</a></li>
    <li class="signup"><a href="https://hud.iron.io/users/new">Sign Up</a></li>
  </ul>
</nav>
