
<h4>Getting Started</h4>
<ul>
  <li><a {% if page.url == "/mq/3/index.html" %}class="selected" {% endif %}href="/mq/3">Overview</a></li>

  <li><a {% if page.url == "/mq/3/reference/api/index.html" %}class="selected"{% endif %} href="/mq/3/reference/api">REST API Reference</a></li>
  <li><a {% if page.url == "/mq/3/reference/auth_api/index.html" %}class="selected"{% endif %} href="/mq/3/reference/auth_api"> REST Auth API Reference</a></li>
  <li><a {% if page.url == "/mq/v2_v3_migration_guide/index.html" %}class="selected"{% endif %} href="/mq/v2_v3_migration_guide/">v3 Migration Guide</a></li>
  <li><a {% if page.url == "/mq/3/reference/push_queues/index.html" %}class="selected"{% endif %} href="/mq/3/reference/push_queues">Push Queues</a></li>
  <li><a {% if page.url == "/mq/3/reference/dlq/index.html" %}class="selected"{% endif %} href="/mq/3/reference/dlq">Dead Letter Queues</a></li>
  <li><a {% if page.url == "/mq/3/libraries/index.html" %}class="selected" {% endif %} href="/mq/3/libraries">Client Libraries</a></li>
  <li><a {% if page.url == "mq/3/Glossary/index.html" %}class="selected" {% endif %} href="/mq/3/Glossary/index.html">IronMQ Glossary</a></li>
</ul>

<h4>Legacy</h4>
<ul>
  <li {% if page.section == "mq" %}class="active"{% endif %}><a href="/mq">IronMQ v2 <span style="font-size:10px">(deprecated)</span></a></li>
</ul>
{% include sidemenu_all.html %}
