<h4>IronWorker</h4>
<ul>
  <li><a {% if page.url == "/worker/index.html" %}class="selected" {% endif %}href="/worker">Overview</a></li>
  <li><a {% if page.url == "/worker/reference/index.html" %}class="selected" {% endif %}href="/worker/reference">Reference</a></li>
</ul>

<h4>IronMQ</h4>
<ul>
  <li><a {% if page.url == "/mq/index.html" %}class="selected" {% endif %}href="/mq">Overview</a></li>
  <li><a {% if page.url == "/mq/reference/index.html" %}class="selected" {% endif %}href="/mq/reference">Reference</a></li>
</ul>

<h4>IronCache</h4>
<ul>
  <li><a {% if page.url == "/cache/index.html" %}class="selected" {% endif %}href="/cache">Overview</a></li>
  <li><a {% if page.url == "/cache/reference/index.html" %}class="selected" {% endif %}href="/cache/reference">Reference</a></li>
</ul>

{% include sidemenu_all.html %}
