<script>
  $(document).ready(function () {
    $("#accordion1").accordion({ autoHeight:false, collapsible:true, active:false  });
    $("#accordion2").accordion({ autoHeight:false, collapsible:true, active:false  });
    $("#accordion3").accordion({ autoHeight:false, collapsible:true, active:false  });
    $("#accordion4").accordion({ autoHeight:false, collapsible:true, active:false  });
  });
</script>
<form action="/search">
  <input type="text" name="q" id="q" placeholder="Search Dev Center" size="18" />
</form>

<h4><a href="/">Overview</a></h4>
<div id="accordion1" style="width: 220px;">
  <h3><a href="#">Platform Basics</a></h3>

  <div>
    <p>
      odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
    </p>
  </div>
</div>

