<h4><a {% if page.url == "/mq-onpremise/index.html" %}class="selected" {% endif %}href="/mq-onpremise">Overview</a></h4>

<h4>Getting Started</h4>
<ul>
    <li><a {% if page.url == "/mq-onpremise/getting_started/index.html#download" %} class="selected" {% endif %} href="/mq-onpremise/getting_started/#download">Download</a></li>
    <li><a href="/mq-onpremise/getting_started/#requirements">System Requirements</a></li>
    <li><a href="/mq-onpremise/getting_started/#install">Installation</a></li>
    <li><a href="/mq-onpremise/getting_started/#setup_user_project">Setup User Tokens</a></li>
    <li><a href="/mq-onpremise/getting_started/#updating_installation">Updating Installation</a></li>
    <li><a href="/mq-onpremise/getting_started/#backups">Backups</a></li>
</ul>

<h4>Reference</h4>
<ul>
    <li><a {% if page.url == "/mq-onpremise/reference/api/index.html" %}class="selected"{% endif %} href="/mq-onpremise/reference/api">REST/HTTP API</a></li>
    <li><a {% if page.url == "/mq-onpremise/libraries/index.html" %}class="selected" {% endif %} href="/mq-onpremise/reference/client_libraries">Client Libraries</a></li>
</ul>

<h4>Integrations</h4>
<ul>
    <li><a {% if page.url == "/mq-onpremise/integrations/sqs/index.html" %}class="selected"{% endif %} href="/mq-onpremise/integrations/amazon_sqs">Amazon SQS Protocol</a></li>
</ul>

<!-- <h4>Deployment Configurations</h4>
<ul>
    <li><a {% if page.url == "/mq-onpremise/configurations/overview/index.html" %}class="selected"{% endif %} href="/mq-onpremise/integrations/celery">Overview</a></li>
    <li><a {% if page.url == "/mq-onpremise/configurationsmq-onpremiseise/index.html" %}class="selected"{% endif %} href="/mq-onpremise/integrations/celery">On-Premise</a></li>
    <li><a {% if page.url == "/mq-onpremise/configurations/virtual_private_cloud/index.html" %}class="selected"{% endif %} href="/mq-onpremise/integrations/celery">Virtual Private Cloud</a></li>
    <li><a {% if page.url == "/mq-onpremise/configurations/hybrid_cloud/index.html" %}class="selected"{% endif %} href="/mq-onpremise/integrations/celery">Hybrid Cloud</a></li>
</ul> -->



{% include sidemenu_all.html %}
