
<h4>Getting Started</h4>
    <ul>
    <li><a {% if page.url == "/mq/3/index.html" %}class="selected" {% endif %}href="/mq/3">Overview</a></li>

    <li><a {% if page.url == "/mq/3/reference/api/index.html" %}class="selected"{% endif %} href="/mq/3/reference/api">REST API Reference</a></li>
    <li><a {% if page.url == "/mq/3/reference/auth_api/index.html" %}class="selected"{% endif %} href="/mq/3/reference/auth_api"> REST Auth API Reference</a></li>
    <li><a {% if page.url == "/mq/3/libraries/index.html" %}class="selected" {% endif %} href="/mq/3/libraries">Client Libraries</a></li>
    <li><a {% if page.url == "/mq/3/changelog/index.html" %} class="selected" {% endif %} href="/mq/3/changelog">Changelog</a></li>
</ul>

<h4>On Premise</h4>
<ul>
    <li><a {% if page.url == "/mq/3/on-premise/installation/index.html" %}class="selected" {% endif %}href="/mq/3/on-premise/installation">Installation</a></li>
    <li><a {% if page.url == "/mq/3/on-premise/management/index.html" %} class="selected" {% endif %} href="/mq/3/on-premise/management">Management</a></li>
</ul>

<h4>Integrations</h4>
<ul>
    <li><a {% if page.url == "/mq/3/integrations/sqs/index.html" %}class="selected"{% endif %} href="/mq/3/integrations/amazon_sqs">Amazon SQS Protocol</a></li>
</ul>

{% include sidemenu_all.html %}
