<div id="accordion" style="width: 220px;">
  <h3><a href="#">Section 1</a></h3>

  <div>
    <p>
      odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
    </p>
  </div>
  <h3><a href="#">Section 2</a></h3>

  <div>
    <p>
      suscipit faucibus urna.
    </p>
  </div>
  <h3><a href="#">Section 3</a></h3>

  <div>
    <p>
      ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
      lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
    </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
  <h3><a href="#">Section 4</a></h3>

  <div>
    <p>
      Cras dictum. Pellentesque habitant morbi tristique senectus et netus
      mauris vel est.
    </p>
  </div>
</div>