<script>
  $(document).ready(function () {
    $("#accordion1").accordion({ autoHeight:false, collapsible:true, active:false  });
    $("#accordion2").accordion({ autoHeight:false, collapsible:true, active:false  });
  });
</script>

<h4><a href="/">Getting Started</a></h4>
<ul>
  <li><a href="/mq/start/quickstart.html">Building Your First Queue</a></li>
</ul>

<h4><a href="/mq">Reference / API</a></h4>
<div id="accordion1" style="width: 220px;">
  <h3><a href="#">Getting Started</a></h3>
  <div>
    <p>
      Cras dictum. Pellentesque habitant morbi tristique senectus et netus
      mauris vel est.
    </p>
  </div>
</div>


<h4><a href="/worker">Code</a></h4>
<div id="accordion2" style="width: 220px;">
  <h3><a href="#">Getting Started</a></h3>

  <div>
    <p>
      odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
    </p>
  </div>
  <h3><a href="#">Tutorials</a></h3>

  <div>
    <p>
      suscipit faucibus urna.
    </p>
  </div>
  <h3><a href="#">API Guide</a></h3>

  <div>
    <p>
      ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
      lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
    </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
  <h3><a href="#">Section 4</a></h3>

  <div>
    <p>
      Cras dictum. Pellentesque habitant morbi tristique senectus et netus
      mauris vel est.
    </p>
  </div>
</div>

<h4><a href="/mq">Articles</a></h4>
<ul>
  <li><a href="/mq/articles/platforms">Platforms</a></li>
  <li><a href="/mq/articles/clouds">Clouds</a></li>
  <li><a href="/mq/articles/databases">Databases</a></li>
  <li><a href="/mq/articles/integrations">Integrations</a></li>
</ul>