<h4>Getting Started</h4>

<ul>
  <li><a {% if page.url == "/worker/getting_started/index.html" %}class="selected"{% endif %} href="/worker/getting_started">Get Started</a></li>

  <li><a {% if page.url == "/worker/trainingVideos/index.html" %}class="selected"{% endif %} href="/worker/trainingVideos/">Training Videos</a></li>

  <li><a {% if page.url == "/worker/examples/index.html" %}class="selected"{% endif %} href="/worker/examples">Example Repositories</a></li>

  <li><a {% if page.url == "/worker/glossary/index.html" %}class="selected"{% endif %} href="/worker/glossary/index.html">IronWorker Glossary</a></li>
</ul>

<h4>Reference</h4>
<ul>
  <li><a {% if page.url == "/worker/reference/api/index.html" %}class="selected"{% endif %} href="/worker/reference/api">REST API Reference</a></li>
  <li><a {% if page.url == "/worker/cli" %}class="selected"{% endif %} href="/worker/cli">CLI Tool</a></li>
  <li><a {% if page.url == "/worker/windows_cli" %}class="selected"{% endif %} href="/worker/windows_cli">Windows CLI Installation</a></li>
  <li><a {% if page.url == "/worker/libraries/index.html" %}class="selected"{% endif %} href="/worker/libraries">Client Libraries</a></li>
  <li><a {% if page.url == "/worker/reference/configuration/index.html" %}class="selected"{% endif %} href="/worker/reference/configuration">Client Configuration</a></li>
</ul>


<h4>Advanced Resources</h4>
<ul>
  <li><a {% if page.url == "/worker/reference/environment/index.html" %}class="selected"{% endif %} href="/worker/reference/environment">System Environment</a></li>
  <li><a {% if page.url == "/worker/reference/configuration-variables/index.html" %}class="selected"{% endif %} href="/worker/reference/configuration-variables">Configuration Variables</a></li>
  <li><a {% if page.url == "/worker/reference/payload/index.html" %}class="selected" {% endif %}href="/worker/reference/payload" title="Payload">Payload Retrieval</a></li>
  <li><a {% if page.url == "/worker/reference/security/index.html" %}class="selected" {% endif %}href="/worker/reference/security" title="Security">IronWorker Security</a></li>
  <li><a {% if page.url == "/worker/scheduling/index.html" %}class="selected" {% endif %}href="/worker/scheduling" title="Scheduling">Scheduling</a></li>
  <li><a href="/worker/reference/environment#local_disk_space_per_worker" title="Local Disk">Local Disk</a></li>
  <!-- no page for this? <li><a href="/worker/getting_started/#inspect" title="Logging">Logging</a></li> -->
  <li><a {% if page.url == "/worker/build-your-own-docker-image/index.html" %}class="selected" {% endif %}href="/worker/build-your-own-docker-image" title="Custom Docker">Custom Docker</a></li>
  <li><a {% if page.url == "/worker/webhooks/index.html" %}class="selected" {% endif %}href="/worker/webhooks" title="Webhooks">Webhooks</a></li>
</ul>

<h4>Multi-Cloud</h4>
<ul>
  <li><a {% if page.url == "/worker/azure/index.html" %}class="selected" {% endif %}href="/worker/azure" title="azure">Microsoft Azure</a></li>
</ul>

<h4>Worker Examples</h4>
<ul>
  <li><a href="http://blog.iron.io/2014/02/top-10-uses-of-ironworker.html">Top 10 Use Cases</a></li>
  <li><a {% if page.url == "/worker/integrations/index.html" %}class="selected"{% endif %} href="/worker/integrations">Integrations</a></li>
</ul>

<!--
<h4>Languages</h4>
<ul>
  <li><a {% if page.url == "/worker/languages/ruby/index.html" %}class="selected"{% endif %} href="/worker/languages/ruby">Ruby</a></li>
  <li><a {% if page.url == "/worker/languages/php/index.html" %}class="selected"{% endif %} href="/worker/languages/php">PHP</a></li>
  <li><a {% if page.url == "/worker/languages/python/index.html" %}class="selected"{% endif %} href="/worker/languages/python">Python</a></li>
  <li><a {% if page.url == "/worker/languages/java/index.html" %}class="selected"{% endif %} href="/worker/languages/java">Java</a></li>
  <li><a {% if page.url == "/worker/languages/nodejs/index.html" %}class="selected"{% endif %} href="/worker/languages/nodejs">Node.js</a></li>
  <li><a {% if page.url == "/worker/languages/go/index.html" %}class="selected"{% endif %} href="/worker/languages/go">Go</a></li>
  <li><a {% if page.url == "/worker/languages/dotnet/index.html" %}class="selected"{% endif %} href="/worker/languages/dotnet">.NET</a></li>
</ul>
-->

{% include sidemenu_all.html %}
