<h4>Support</h4>
<ul>
    <li><a href="http://get.iron.io/chat" target="_blank">Live Chat</a></li>
    <li><a href="http://support.iron.io/customer/portal/emails/new" target="_blank">Email Support</a></li>
</ul>

<div id="github-block">
	<a href="https://github.com/iron-io/docs"><img src="/images/octocat.png"></a>
	<p>This page is <strong>open source</strong>.<br /><a href="/community/docs">Make it better</a> for swag or <a href="https://github.com/iron-io/docs/issues/new">submit an issue</a> to let us know how to improve it!</p>
</div>
