<h4><div {% if page.url == "/worker/start/index.html" %}class="selected"{% endif %}><a href="/worker/start">Getting Started</a></div></h4>
<ul>
  <li><div {% if page.url == "/worker/start/first-worker/index.html" %}class="selected"{% endif %}><a href="/worker/start/first-worker">Your First Worker</a></div></li>
</ul>

<h4><div {% if page.url == "/worker/reference/index.html" %}class="selected"{% endif %}><a href="/worker/reference">Reference</a></div></h4>
<ul>
  <li><div {% if page.url == "/worker/reference/api/index.html" %}class="selected"{% endif %}><a href="/worker/reference/api">REST/HTTP API</a></div></li>
  <li><div {% if page.url == "/worker/reference/environment/index.html" %}class="selected"{% endif %}><a href="/worker/reference/environment">System Environment</a></div></li>
</ul>

<h4><div {% if page.url == "/worker/code/index.html" %}class="selected"{% endif %}><a href="/worker/code">Code</a></div></h4>
<ul>
  <li><div {% if page.url == "/worker/code/ruby/index.html" %}class="selected"{% endif %}><a href="/worker/code/ruby">Ruby</a></div></li>
  <li><div {% if page.url == "/worker/code/php/index.html" %}class="selected"{% endif %}><a href="/worker/code/php">PHP</a></div></li>
  <li><div {% if page.url == "/worker/code/python/index.html" %}class="selected"{% endif %}><a href="/worker/code/python">Python</a></div></li>
</ul>

<h4><div {% if page.url == "/worker/articles/index.html" %}class="selected"{% endif %}><a href="/worker/articles">Articles</a></div></h4>
<ul>
  <li><div {% if page.url == "/worker/articles/usecases/index.html" %}class="selected"{% endif %}><a href="/worker/articles/usecases">Common Use Cases</a></div></li>
  <li><div {% if page.url == "/worker/articles/integrations/index.html" %}class="selected"{% endif %}><a href="/worker/articles/integrations">Integrations</a></div></li>
  <li><div {% if page.url == "/worker/articles/databases/index.html" %}class="selected"{% endif %}><a href="/worker/articles/databases">Databases</a></div></li>
  <li><div {% if page.url == "/worker/articles/platforms/index.html" %}class="selected"{% endif %}><a href="/worker/articles/platforms">Platforms</a></div></li>
  <li><div {% if page.url == "/worker/articles/clouds/index.html" %}class="selected"{% endif %}><a href="/worker/articles/clouds">Clouds</a></div></li>
</ul>
