<h4><a {% if page.url == "/cache/index.html" %}class="selected" {% endif %}href="/cache">Overview</a></h4>

<h4>Reference</h4>
<ul>
  <li><a {% if page.url == "/cache/reference/api/index.html" %}class="selected"{% endif %} href="/cache/reference/api">REST/HTTP API</a></li>
  <li><a {% if page.url == "/cache/reference/libraries/index.html" %}class="selected"{% endif %} href="/cache/reference/libraries">Client Libraries</a></li>
  <li><a {% if page.url == "/cache/reference/environment/index.html" %}class="selected"{% endif %} href="/cache/reference/environment">System Environment</a></li>
  <li><a {% if page.url == "/cache/reference/configuration/index.html" %}class="selected"{% endif %} href="/cache/reference/configuration">Configuration</a></li>
  <li><a {% if page.url == "/cache/reference/memcache/index.html" %}class="selected"{% endif %} href="/cache/reference/memcache">Memcache Interface</a></li>
</ul>

{% include sidemenu_all.html %}
