<h4>1. <a {% if page.url == "/mq/start/index.html" %}class="selected"{% endif %} href="/mq/start">Getting Started</a></h4>
<ul>
  <li>1. <a {% if page.url == "/mq/start/first-queue/index.html" %}class="selected"{% endif %} href="/mq/start/first-queue">Your First Queue</a></li>
</ul>

<h4>2. <a {% if page.url == "/mq/reference/index.html" %}class="selected"{% endif %} href="/mq/reference">Reference</a></h4>
<ul>
  <li>1. <a {% if page.url == "/mq/reference/api/index.html" %}class="selected"{% endif %} href="/mq/reference/api">REST/HTTP API</a></li>
  <li>2. <a {% if page.url == "/mq/reference/environment/index.html" %}class="selected"{% endif %} href="/mq/reference/environment">System Environment</a></li>
</ul>

<h4>3. <a {% if page.url == "/mq/code/index.html" %}class="selected"{% endif %} href="/mq/code">Code</a></h4>
<ul>
  <li>1. <a {% if page.url == "/mq/code/libraries/index.html" %}class="selected"{% endif %} href="/mq/code/libraries">Client Libraries</a></li>
  <li>2. <a {% if page.url == "/mq/code/beanstalkd/index.html" %}class="selected"{% endif %} href="/mq/code/beanstalkd">Beanstalkd Support</a></li>
</ul>

<h4>4. <a {% if page.url == "/mq/articles/index.html" %}class="selected"{% endif %} href="/mq/articles">Articles</a></h4>
<ul>
  <li>1. <a {% if page.url == "/mq/articles/platforms/index.html" %}class="selected"{% endif %} href="/mq/articles/platforms">Platforms</a></li>
  <li>2. <a {% if page.url == "/mq/articles/clouds/index.html" %}class="selected"{% endif %} href="/mq/articles/clouds">Clouds</a></li>
</ul>
