<h4>Getting Started</h4>
<ul>
  <li><a {% if page.url == "/worker/start/first-worker/index.html" %}class="selected"{% endif %} href="/worker/start/first-worker">Your First Worker</a></li>
</ul>

<h4>Reference</h4>
<ul>
  <li><a {% if page.url == "/worker/reference/api/index.html" %}class="selected"{% endif %} href="/worker/reference/api">REST/HTTP API</a></li>
  <li><a {% if page.url == "/worker/reference/environment/index.html" %}class="selected"{% endif %} href="/worker/reference/environment">System Environment</a></li>
  <li><a {% if page.url == "/worker/reference/security/index.html" %}class="selected"{% endif %} href="/worker/reference/security">Securing Your Workers</a></li>
  <li><a {% if page.url == "/worker/reference/disk-storage" %}class="selected"{% endif %} href="/worker/reference/disk-storage">Disk Storage</a></li>
  <li><a {% if page.url == "/worker/reference/logging" %}class="selected"{% endif %} href="/worker/reference/logging">Logging</a></li>
  <li><a {% if page.url == "/worker/reference/webhooks" %}class="selected"{% endif %} href="/worker/reference/webhooks">Webhooks</a></li>
</ul>

<h4>Client Libraries</h4>
<ul>
  <li><a {% if page.url == "/worker/code/ruby/index.html" %}class="selected"{% endif %} href="/worker/code/ruby">Ruby</a></li>
  <li><a {% if page.url == "/worker/code/php/index.html" %}class="selected"{% endif %} href="/worker/code/php">PHP</a></li>
  <li><a {% if page.url == "/worker/code/python/index.html" %}class="selected"{% endif %} href="/worker/code/python">Python</a></li>
  <li><a {% if page.url == "nada" %}class="selected"{% endif %} href="https://github.com/iron-io/iron_worker_examples" target="_blank">Examples Repo</a></li>
</ul>

<h4>Articles</h4>
<ul>
  <li><a {% if page.url == "/worker/articles/usecases/index.html" %}class="selected"{% else %}{% if page.categories contains "usecases" %}class="selected"{% endif %}{% endif %} href="/worker/articles/usecases">Common Use Cases</a></li>
  <li><a {% if page.url == "/worker/articles/integrations/index.html" %}class="selected" {%else %}{% if page.categories contains "integrations" %}class="selected"{% endif %}{% endif %} href="/worker/articles/integrations">Integrations</a></li>
  <li><a {% if page.url == "/worker/articles/data/index.html" %}class="selected"{% else %}{% if page.categories contains "data" %}class="selected"{% endif %}{% endif %} href="/worker/articles/data">Data &amp; Databases</a></li>
  <li><a {% if page.url == "/worker/articles/platforms/index.html" %}class="selected"{% else %}{% if page.categories contains "platforms" %}class="selected"{% endif %}{% endif %} href="/worker/articles/platforms">Platforms</a></li>
</ul>

{% include sidemenu_all.html %}
