<h4>Talk To Us</h4>
<ul>
	<li><a href="/community/events" {% if page.url == "/community/events/index.html" %}class="selected"{% endif %}title="Check out our community events">Upcoming Events</a></li>
  <li><a href="http://www.twitter.com/getiron" title="Follow @getiron on Twitter">Follow Us On Twitter</a></li>
  <li><a href="https://plus.google.com/107979826672004784735" title="Circle +Iron.io on Google+">Circle Us On Google+</a></li>
  <li><a href="http://blog.iron.io" title="The Iron.io blog">Read Our Blog</a></li>
</ul>

{% include sidemenu_all.html %}
