<h4>Getting Started</h4>
<ul>
  <li><a {% if page.url == "/cache/getting_started/" %}class="selected"{% endif %} href="/cache/getting_started">Quick Start</a></li>
  <li><a {% if page.url == "/cache/reference/api/" %}class="selected"{% endif %} href="/cache/reference/api">REST API Reference
  </a></li>
  <li><a {% if page.url == "/cache/reference/libraries/" %}class="selected"{% endif %} href="/cache/reference/libraries">Client Libraries</a></li>
  <li><a {% if page.url == "/cache/reference/configuration/" %}class="selected"{% endif %} href="/cache/reference/configuration">Client Configuration</a></li>
</ul>
<h4>Advanced Reference</h4>
<ul>
  <li><a {% if page.url == "/cache/reference/environment/" %}class="selected"{% endif %} href="/cache/reference/environment">System Environment</a></li>
  <li><a {% if page.url == "/cache/reference/memcache/" %}class="selected"{% endif %} href="/cache/reference/memcache">Memcache Interface</a></li>
</ul>

{% include sidemenu_all.html %}
