<div class="subnavigation">
  <ul class="menu page-menu">
    <li {% if page.section == "overview" %}class="active"{% endif %}><a href="/">Overview</a></li>
    <li {% if page.section == "worker" %}class="active"{% endif %}><a href="/worker">IronWorker</a></li>
    <li {% if page.section == "mq" %}class="active"{% endif %}><a href="/mq">IronMQ</a></li>
    <li {% if page.section == "cache" %}class="active"{% endif%}><a href="/cache">IronCache</a></li>
    <li {% if page.section == "solutions" %}class="active"{% endif %}><a href="/solutions">Solutions</a></li>
    <li {% if page.section == "community" %}class="active"{% endif %}><a href="/community">Community</a></li>
  </ul>
</div>
