---
title: IronMQ v3.0 Overview
summary: "Connect your applications and processes with an elastic message queue. Decouple your processes and create a highly scalable system by passing messages."
layout: default
section: mq-v3
---

<p class="subtitle">This IronMQ reference documentation will help you navigate the basics.
IronMQ On-Premise is a fully featured high-performance messaging solution that can be more easily deployed in high availability configurations across clouds.
</p>

<a class="grid-box" href="/mq/3/reference/api">
    <div class="img-bg api-bg mq"></div>
    <span class="grid-box-text">
    <h3>API Reference</h3>
    <p>Every endpoint, every parameter of our API is at your fingertips.</p>
    </span>
</a>

<a class="grid-box second" href="/mq/reference/environment">
  <div class="img-bg environment-bg mq"></div>
  <span class="grid-box-text">
  <h3>Environment</h3>
  <p>Know <em>exactly</em> what environment your messages will be passed through <em>before</em> you queue them.</p>
  </span>
</a>

<br style="clear: both;" />

<a class="grid-box" href="/mq/reference/configuration">
    <div class="img-bg configuration-bg mq"></div>
    <span class="grid-box-text">
    <h3>Configuration</h3>
    <p>Everything you need to know to make the IronMQ client libraries work they way you want them to.</p>
    </span>
</a>

<a class="grid-box second" href="/mq/3/getting_started/">
    <div class="img-bg clouds-bg mq"></div>
    <span class="grid-box-text">
    <h3>On Premise/Self Hosted Installation</h3>
    <p> IronMQ On-Premise requires knowledge of deployment and server management.</p>
    </span>
</a>

<br style="clear: both;" />

<a class="grid-box" href="/mq/3/reference/push_queues/index.html">
    <div class="img-bg push-queues-bg mq"></div>
  <span class="grid-box-text">
  <h3>Push Queues</h3>
  <p>Everything you need to know about Push Queues.</p>
    </span>
</a>

<a class="grid-box second" href="http://hud.iron.io/users/support">
  <div class="img-bg chat-bg worker"></div>
  <span class="grid-box-text">
  <h3>Something Missing?</h3>
  <p>Can't find the information you need here? Our engineers are always available and will be happy to answer questions.</p>
        </span>
</a>
<h2>Getting Started with IronMQ v3.0</h2>
<ul>
    <li><a {% if page.url == "/mq/3/reference/api/index.html" %}class="selected"{% endif %} href="/mq/3/reference/api">REST/HTTP API</a></li>
    <li><a {% if page.url == "/mq/3/reference/push_queues/index.html" %}class="selected"{% endif %} href="/mq/3/reference/push_queues">Push Queues</a></li>
    <li><a {% if page.url == "/mq/3/libraries/index.html" %}class="selected" {% endif %} href="/mq/3/reference/client_libraries">Client Libraries</a></li>
</ul>

<h2>On Premise/Self Hosted Installation</h2>
<p class="subtitle">
  IronMQ On-Premise requires some knowledge of deployment and server management. If you do not possess these skills please schedule a consultation with our team
</p>
<ul>
    <li><a href="/mq/3/getting_started/#download">Download</a></li>
    <li><a href="/mq/3/getting_started/#requirements">System Requirements</a></li>
    <li><a href="/mq/3/getting_started/#install">Installation</a></li>
    <li><a href="mq/3/getting_started/#setup_user_project">Setup New User Account</a></li>
</ul>

<h2>Integrations</h2>
<ul>
    <li><a {% if page.url == "/mq/3/integrations/sqs/index.html" %}class="selected"{% endif %} href="/mq/3/integrations/amazon_sqs">Amazon SQS Protocol</a></li>
</ul>
