<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body class="team">

<div id="wrapper">
  <div class="wrapper-holder">

    <header id="header">
      {% include nav.html %}
    </header>

    <div id="main">
      <section class="container">

        <header>
          {% include content_header.html %}
        </header>

        {% include subnav.html %}

        <div class="content-container docs">

          <div id="sidemenu">
            {% if page.section == "overview" %}
            {% include sidemenu_overview.html %}
            {% endif %}

            {% if page.section == "mq" %}
            {% include sidemenu_mq.html %}
            {% endif %}

            {% if page.section == "worker" %}
            {% include sidemenu_worker.html %}
            {% endif %}
          </div>

          <div style="float: left; width: 605px">
            {{ content }}
          </div>

        </div>
      </section>
    </div>
  </div>
</div>

<!-- footer -->
<footer id="footer">
  {% include footer.html %}
</footer>

</body>
</html>
