<!DOCTYPE html>
<html>
<head>

  {% include head.html %}

</head>
<body class="team">

<div id="wrapper">
  <div class="wrapper-holder">

    <header id="header">
      {% include nav.html %}
    </header>

    <div id="main">
      <section class="container">

        <header>
          {% include content_header.html %}
        </header>

        {% include subnav.html %}

        <div class="content-container docs">

          <div style="width: 240px; float: left;">
            <form action="/search">
              <input type="text" name="q" id="q" placeholder="Search Dev Center" size="18" />
            </form>

            <br />

            {% include side_menu.html %}

          </div>

          <div style="float: left; width: 605px">
            {{ content }}
          </div>

        </div>
      </section>
    </div>
  </div>
</div>

<!-- footer -->
<footer id="footer">
  {% include footer.html %}
</footer>

</body>
</html>
