<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}Iron.io | Dev Center</title>
  <meta name="description" content="" />

  <link href="http://www.iron.io/assets/application-3b1bd90e2a6ded693df68799dcd72a01.css" media="screen" rel="stylesheet" type="text/css" />

  <!-- fonts -->
  <link href="http://www.iron.io/assets/fonts/stylesheet.css" media="screen" rel="stylesheet" type="text/css" />
  <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css" />


  <meta content="authenticity_token" name="csrf-param" />
  <meta content="M4Lb82DLZG2a4l/WwPI7gLfYBfMj3pE2GgiowAaQvz4=" name="csrf-token" />

  <script src="https://www.google.com/jsapi?key=ABQIAAAAhes0f80sBcwL-h5xCNkkgxTs5Gr0DWOUG974XQ8PuEqOljLYwRTQYGFgQvKvZgAbxrinP5i8V-N8hw" type="text/javascript"></script>

  <script language="javascript" type="text/javascript">
    google.load("jquery", "1");
    google.load("jqueryui", "1");
    google.load("feeds", "1");
  </script>

  <script src="http://www.iron.io/assets/application-305773b7dc256f457edcf9a64e018ac0.js" type="text/javascript"></script>
  <!--[if lt IE 9]>
  <script src="http://www.iron.io/assets/html5shiv-d095c2f2abab5314e1647fd569a21eb4.js" type="text/javascript"></script>
  <![endif]-->

</head>
<body class="team">

<div id="wrapper">
  <div class="wrapper-holder">

    <header id="header">
      <strong class="logo"><a href="http://www.iron.io/">Iron.io</a></strong>
      <nav id="nav">
        <ul>
          <li class=""><a href="http://www.iron.io/products">Products</a></li>
          <li class=""><a href="http://www.iron.io/customers">Customers</a></li>
          <!--<li class=""><a href="/tutorials">Tutorials</a></li>-->
          <li class=""><a href="http://www.iron.io/about">About Us</a></li>
          <li class="active"><a href="http://docs.iron.io" target="_blank">Docs</a></li>
          <li class=""><a href="http://support.iron.io" target="_blank">Help</a></li>
          <li class=""><a href="http://blog.iron.io">Blog</a></li>
          <li class=""><a href="http://hud.iron.io">Login</a></li>
          <li class="signup"><a href="https://hud.iron.io/users/new">Sign Up</a></li>
        </ul>
      </nav>
    </header>

    <div id="main">
      <section class="container">

        <header>
          <div class="title-box">
            <h1>Dev Center</h1>

            <div class="info">
                    <strong>{% if page.title %}{{ page.title }}{% else %}The New Iron Dev Center{% endif %}</strong>
            </div>
          </div>

        </header>



        <div class="content-container docs">

          {{ content }}

        </div>
    </div>
  </div>
</div>

<!-- footer -->
<footer id="footer">
  <!-- footer-box -->
  <div class="footer-box">
    <div class="holder">
      <div class="content">

        <div id="gears">
          <div class="gear-small">
            <object data="/assets/gear-small.svg" type="image/svg+xml" width="50"></object>
          </div>
          <div class="gear-big">
            <object data="/assets/gear-big.svg" type="image/svg+xml" width="88"></object>
          </div>
        </div>

        <div class="box-holder">
          <div class="box">
            <hgroup>
              <h3>Learn</h3>
            </hgroup>
            <ul>
              <li><a href="http://www.iron.io/products">Products</a></li>
              <li><a href="http://www.iron.io/customers">Customers</a></li>
              <li><a href="http://www.iron.io/about">About Us</a></li>
              <li><a href="http://www.iron.io/legal">Legal</a></li>
            </ul>
          </div>
          <div class="box">
            <hgroup>
              <h3>Develop</h3>
            </hgroup>
            <ul>
              <li><a href="http://docs.iron.io/" target="_blank">Documentation</a></li>
              <li><a href="https://github.com/iron-io" target="_blank">Iron.io on GitHub</a></li>
              <li>
                <a href="https://github.com/iron-io/iron_worker_examples" target="_blank">Worker Examples on GitHub</a>
              </li>
              <li><a href="http://www.iron.io/products/worker/videos">Video Tutorials</a></li>
            </ul>
          </div>
          <div class="box">
            <hgroup>
              <h3>Manage</h3>
            </hgroup>
            <ul>
              <li><a href="http://hud.iron.io/">Login</a></li>
              <li><a href="http://support.iron.io/" target="_blank">Support</a></li>
            </ul>
          </div>
          <div class="box">
            <hgroup>
              <h3>Follow</h3>
            </hgroup>
            <ul>
              <li><a href="http://twitter.com/getiron" target="_blank">Twitter</a></li>
              <li><a href="http://blog.iron.io" target="_blank">Blog</a></li>
              <li>
                <a rel="publisher" href="https://plus.google.com/107979826672004784735" target="_blank">Google+</a><br />
                <!-- Place this tag where you want the +1 button to render -->
                <g:plusone size="small"></g:plusone>

                <!-- Place this render call where appropriate -->
                <script type="text/javascript">
                  (function () {
                    var po = document.createElement('script');
                    po.type = 'text/javascript';
                    po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(po, s);
                  })();
                </script>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer-holder -->
  <div class="footer-holder">
    <p>&copy;2012 <a href="http://www.iron.io/">Iron.io</a>. All Rights Reserved. (000 seconds)</p>
  </div>
</footer>

</body>
</html>
